html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #283136;
  font-weight: normal;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}

h1.slider-title,
h1.catalog-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

h3.features-title {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

h3.footer-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}


.button {
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  background-color: #fb565a;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 19px;
  text-align: center;
  width: 240px;
  margin-top: 45px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #eeeeee;
}

.nav {
  padding-top: 50px;
}

.main-logo {
  float: left;
  display: block;
}

.nav-list {
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 33px;
  padding-bottom: 32px;
}

.nav-list li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 48px;
  font-size: 16px;
}

.nav-list a {
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}

.nav-list a.active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 13px;
}

.cart {
  background: url(../img/cart-icon.png) no-repeat left center;
  padding-left: 41px;
  margin-left: 245px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  width: auto;
  padding-top: 80px;
  padding-left: 220px;
  padding-bottom: 117px;
}

/*СЛАЙДЕР*/

.slider-left-1,
.slider-left-2,
.slider-left-3 {
  float: left;
  padding: 0;
  padding-top: 53px;
  margin: 0 auto;
  width: 380px;
}

.slider-left-2 {
  display: none;
}

.slider-left-3 {
  display: none;
}

.slider-title {
  margin: 0;
  padding: 0;
}

.slider p {
  margin-top: 28px;
  margin-bottom: 0;
  color: #283136;
  line-height: 24px;
  padding-right: 30px;
}

.slider-right-1,
.slider-right-2,
.slider-right-3 {
  width: 760px;
  height: 431px;
  margin: 0 auto;
  float: left;
  padding: 0;
}

.slider-right-2 {
  display: none;
}

.slider-right-3 {
  display: none;
}

.slider-bullit {
  display: none;
}

/*Блок преимуществ*/

.features {
  padding: 0;
  margin: 0;
  font-size: 0;
  padding-top: 80px;
}

.features-item {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 100px;
  font-size: 16px;
  line-height: 24px;
}

.features-item:nth-child(1) {
  padding-left: 0;
}

.features-item img {
  display: block;
  margin-bottom: 23px;
}

.features-title {
  margin: 0;
  text-transform: uppercase;
}

.features-item p {
  color: #283136;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 0;
}

.features-item .button {
  width: 160px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.button.green {
  background-color: #00ca74;
}

.button.yellow {
  background-color: #efc84a;
}

.button.grey {
  background-color: #eeeeee;
  color: #000000;
}

/*КАТАЛОГ ЛЕВАЯ СТОРОНА*/

.main-leftside {
  float: left;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
}

.filter-text label {
  padding: 0;
  padding-right: 20px;
  text-transform: uppercase;
}

.filter-text input {
  width: 75px;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.filter-kind ul {
  padding-left: 0;
}

.filter-kind li {
  list-style-type: none;
  padding-bottom: 15px;
}

.filter-feature ul {
  padding-left: 0;
}

.filter-feature li {
  list-style-type: none;
  padding-bottom: 15px;
}

/*КАТАЛОГ ПРАВАЯ СТОРОНА*/

.main-rightside {
  float: right;
  margin: 0;
  padding: 0;
  width: 760px;
  margin-left: 100px;
}

.sort {
  margin: 0;
  padding: 0;
}

.sort-left {
  float: left;
  text-transform: uppercase;
  font-size: 18px;
}

.sort-right {
  float: right;
  padding-top: 15px;
}

.sort-right a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  padding-right: 25px;
}

.sort-right .down,
.up {
  padding-left: 0;
  padding-right: 0;
}

/*БЛОК МАКЕТОВ*/

.samples ul {
  margin: 0;
  padding: 0;
}

.samples-item {
  float: left;
  width: 360px;
  height: 576px;
  list-style-type: none;
  margin: 0;
  margin-right: 40px;
  margin-top: 40px;
  padding: 0;
}

.samples-item:nth-child(2n) {
  margin-right: 0;
}

.samples-item:first-child {
  background: url(../img/sample1.jpg) no-repeat;
}

.samples-item:nth-child(2) {
  background: url(../img/sample2.jpg) no-repeat;
}

.samples-item:nth-child(3) {
  background: url(../img/sample3.jpg) no-repeat;
}

.samples-item:nth-child(4) {
  background: url(../img/sample4.jpg) no-repeat;
}

.samples-item:nth-child(5) {
  background: url(../img/sample5.jpg) no-repeat;
}

.samples-item:nth-child(6) {
  background: url(../img/sample6.jpg) no-repeat;
}

.window {
  display: none;
}

/*НАВИГАЦИЯ ПО СТРАНИЦАМ КАТАЛОГА*/

.samples-page {
  float: left;
  margin: 0;
  padding: 0;
}

.samples-page-left a {
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-left: 10px;
}

.button.page {
  display: block;
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50px;
}

.samples-page-left a:first-child {
  margin-left: 0;
}

.samples-page-left a:last-child {
  width: 260px;
}

/*БЛОК О КОМПАНИИ*/

.about-left {
  float: left;
  width: 660px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
}

.about-right {
  float: right;
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.about-title {
  padding: 0;
  margin: 0;
  padding-top: 80px;
  font-size: 45px;
  line-height: 45px;
}

.about-left p {
  padding-top: 20px;
}

.about-jobs {
  font-size: 16px;
  line-height: 24px;
  padding-top: 40px;
}

.about-jobs b {
  text-transform: uppercase;
}

.about-jobs-list li {
  line-height: 32px;
}

.about-right img {
  padding-top: 28px;
}

.about-profits {
  padding-top: 40px;
}

.about-profits ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.about-profits li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
}

.about-profits span {
  display: block;
  padding-top: 20px;
}

.about-profits b {
  text-transform: uppercase;
  text-align: center;
}

.about-profits-list b {
  font-size: 45px;
}

/*СПОНСОРЫ*/

.partners-list {
  list-style-type: none;
}

.partner-1,
.partner-2,
.partner-3,
.partner-4 {
  float: left;
  margin: 0 auto;
  padding: 0;
  width: 260px;
  padding-right: 20px;
  margin-top: 80px;
}

.partner-4 {
  padding-right: 0;
}

/*КАРТА*/

.map {
  margin-top: 80px;
  clear: right;
}

.map-contacts {
  float: left;
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  background-color: #ffffff;
  padding-top: 57px;
  padding-left: 51px;
  padding-right: 78px;
  padding-bottom: 47px;
  width: 320px;
  height: 310px;
}

.map-contacts strong {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map-contacts p {
  padding-top: 20px;
}

.map-contacts span {
  display: block;
  padding-top: 20px;
}

/*ФУТЕР*/

.footer-info {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-bottom: 80px;
}

.footer-social {
  float: left;
  padding: 0;
  margin: 0;
  background-color: #00ca74;
}

.footer-social ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 40px;
  padding-left: 0;
}

.footer-discount {
  float: left;
  margin-left: 200px;
  padding-top: 20px;
}

.footer-title {
  margin: 0;
  padding: 0;
}

.footer-discount p {
  font-size: 16px;
  line-height: 22px;
}

.write-us {
  display: none;
}
