
body {
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

h1.slider-title,
h1.catalog-title {
  font-size: 55px;
  line-height: 55px;
  color: black;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

h3.features-title {
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

h3.footer-title {
  font-size: 36px;
  line-height: 36px;
  color: black;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
